// icon font
@font-face {
  font-family: element-icons;
  src: url(/assets/fonts/element-icons.535877f5.woff) format("woff"),url(/assets/fonts/element-icons.732389de.ttf) format("truetype");
  font-weight: 400;
  font-display: "auto";
  font-style: normal
}
